<div class="bg">
    <div class="grid">
        <header>
            <h1>CAPITÃO! PREPARE O ATAQUE!!! </h1>
        </header>

        <main>
            <div class="vessels-area">
                <div *ngFor="let vessel of vessels; index as v" id="{{v}}-{{vessel.id}}" class="vessels-avaliable">
                    <div class="vessel-name">{{ vessel.label }}</div>
                    <div id="{{v}}-{{vessel.id}}-area" class="vessel-type" (dragstart)="drag($event)" draggable="true">
                        <div *ngFor="let row of getRowsNumberOfMap(vessel.map); index as row_index">
                            <div id="{{v}}-{{vessel.id}}-{{row_index}}-{{column_index}}"
                                *ngFor="let column of getColumnsNumberOfMap(vessel.map); index as column_index"
                                class="board-coordinate playable-coordinate"
                                [style]="getStyleOfVessel(row_index, column_index, vessel.map)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <aside>
            <div id="board-area">
                <div *ngFor="let row of rows; index as i">
                    <div *ngFor="let column of columns; index as j"
                        class="board-coordinate {{ getClassByCoordinate(i, j) }}" (dragover)="allowDrop($event, i, j)"
                        (drop)="drop($event, i, j)" id="{{ getCoordinateId(i, j) }}">
                        {{ getCoordinateContent(i, j) }}
                    </div>
                </div>
            </div>
        </aside>
        <footer>
            <div class="btn-confirma">
                <artemisia-button label="BATALHA" (click)="confirmStartPositions()"
                    [disabled]="(this.startPositions.length < this.vessels.length) || loading" [loading]="loading">
                </artemisia-button>
            </div>
        </footer>
    </div>
</div>

<ng-template #waitModal>
    <div class="start-match-modal">
        <div class="start-match-modal-header">
            <h3>Firmes, marujos!</h3>
        </div>
        <div style="padding: 15px;">
            <p>A partida terá início assim que seu adversário finalizar o posicionamento das embarcações.
            </p>
        </div>
    </div>
</ng-template>


<!-- <div class="board-house">

</div> -->