<div class="market-background">
    <div class="navbar">

    </div>
    <div class="container">
        <div class="base">
            <div class="base_interna">
                <div class="base_interna_wrapper">
                    <img src="../assets/diamantes0.png" width="100px" alt="diamantes" />
                    <h1>10</h1>
                    <img src="../assets/botaoLoja.png" width="170px" class="button" alt="botao" />
                    <h3>R$ 2,00</h3>
                    <!--<button class="button"></button>-->
                </div>
            </div>
            <div class="base_interna">
                <div class="base_interna_wrapper">
                    <img src="../assets/diamantes1.png" width="100px"alt="diamantes" />
                    <h1>25</h1>
                    <img src="../assets/botaoLoja.png" width="170px" class="button" alt="botao" >
                    <h3>R$ 4,00</h3>
                </div>
            </div>
            <div class="base_interna">
                <div class="base_interna_wrapper">
                    <img src="../assets/diamantes2.png" width="100px" alt="diamantes" />
                    <h1>50</h1>
                    <img src="../assets/botaoLoja.png" width="170px" class="button" alt="botao" >
                    <h3>R$ 7,00</h3>
                </div>
            </div>
            <div class="base_interna">
                <div class="base_interna_wrapper">
                    <img src="../assets/diamantes3.png" width="75px" alt="diamantes" />
                    <h1>100</h1>
                    <img src="../assets/botaoLoja.png" width="170px" class="button" alt="botao" >
                    <h3>R$ 12,00</h3>
                </div>
            </div>
        </div>
        <div class="base">
            <div class="base_interna">
                <div class="base_interna_wrapper">
                    <img src="../assets/diamantes0.png" width="100px" alt="diamantes" />
                    <h1>10</h1>
                    <div class="button_wrapper">
                        <img src="../assets/botaoLoja.png" width="170px" class="button" alt="botao" >
                        <img src="../assets/moedaLoja.png" width="50px" class="icon" alt="moedas" />
                        <h2>5.000</h2>
                    </div>
                </div>
            </div>
            <div class="base_interna">
                <div class="base_interna_wrapper">
                    <img src="../assets/diamantes1.png" width="100px" alt="diamantes" />
                    <h1>25</h1>
                    <div class="button_wrapper">
                        <img src="../assets/botaoLoja.png" width="170px" class="button" alt="botao" >
                        <img src="../assets/moedaLoja.png" width="50px" class="icon" alt="moedas" />
                        <h2>10.000</h2>
                    </div>
                </div>
            </div>
            <div class="base_interna">
                <div class="base_interna_wrapper">
                    <img src="../assets/diamantes2.png" width="100px" alt="diamantes" />
                    <h1>50</h1>
                    <div class="button_wrapper">
                        <img src="../assets/botaoLoja.png" width="170px" class="button" alt="botao" >
                        <img src="../assets/moedaLoja.png" width="50px" class="icon" alt="moedas" />
                        <h2>20.000</h2>
                    </div>
                </div>
            </div>
            <div class="base_interna">
                <div class="base_interna_wrapper">
                    <img src="../assets/diamantes3.png" width="75px" alt="diamantes" />
                    <h1>100</h1>
                    <div class="button_wrapper">
                        <img src="../assets/botaoLoja.png" width="170px" class="button" alt="botao" >
                        <img src="../assets/moedaLoja.png" width="50px" class="icon" alt="moedas" />
                        <h2>40.000</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
