<div class="container">
    <div class="name_container">
        <p>Beatriz Da Cruz</p>
    </div>
    <div class="name_container">
        <p>Bruna Favorino</p>
    </div>
    <div class="name_container">
        <p>Cassiano Caliman</p>
    </div>
    <div class="name_container">
        <p>Cristiano Bueno</p>
    </div>
    <div class="name_container">
        <p>Érika Tiemi</p>
    </div>
    <div class="name_container">
        <p>Felipe Orbite</p>
    </div>
    <div class="name_container">
        <p>Juan Henrique</p>
    </div>
    <div class="name_container">
        <p>Mauro Sergio</p>
    </div>
    <div class="name_container">
        <p>Raul Barbosa</p>
    </div>
    <div class="name_container">
        <p>Rodrigo Hernandez</p>
    </div>
    <div class="name_container">
        <p>Rodrigo Rafael</p>
    </div>
    <div class="name_container">
        <p>Vinicius Gil</p>
    </div>
    <div class="name_container">
        <p>Yago Machado</p>
    </div>
    
</div>

