.coordinate {
    height: 25px;
    width: 25px;
    float: left;
    margin: 1.5px;
}

.row-indicator, .column-indicator {
    background-color: blueviolet;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.not-empty {
    background-color: blue;
}

.empty {
    border: 1px solid black;
}

.opponent-not-empty, .destroyed {
    background-color: red;
}

.hoverble:hover {
    cursor: pointer;
    background-color: gray;
}

.opponent-attacked, .attacked {
    background-color: gray;
}

.battle-modal {
    padding: 25px;
}

.battle-modal-header {
    text-align: center;
    margin-bottom: 15px;
}

.battle-modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
}