@font-face{
    font-family: Sigmar One;
    src: url(../../../assets/fonts/SigmarOne-Regular.ttf) format('truetype');

}

h1{
    padding-top: 20px;
    color:white;
    font-family: 'Sigmar One', cursive;
    text-shadow: .3rem .4rem 2px rgba(0,0,0,0.2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
}

.bg{
    background-image: url("../../../assets/SEA.gif");
    overflow: hidden;
    background-size: cover;
    height: 100vh;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90vh 10vh;
    grid-template-areas: " h m"
                         " f f";
}

header{
    width: 100%;
    grid-area: h;
}

main{
    width: 100%;
    grid-area: m;
}

footer{
    width: 100%;
    grid-area: f;
}

.main-board{
    background-image: url("../../../assets/SEA-BOARD.png");
    background-size: cover;
    border-radius: 15px;
    border: 5px solid #096db9;
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
}

.main-board div{
    border-radius: 4px;
}

.enemy-board{
    background-image: url("../../../assets/SEA-BOARD.png");
    background-size: cover;
    border-radius: 15px;
    border: 5px solid #096db9;
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
}

.enemy-board div{
    border-radius: 4px;
}

.coordinate {
    height: 25px;
    width: 25px;
    float: left;
    margin: 1.5px;
}

.row-indicator, .column-indicator {
    background-color: #0984e3;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.not-empty {
    background-color: blue;
    opacity: 0.8;
}

.empty {
    border: 1px solid blue;
    opacity: 0.5;
}

.opponent-not-empty, .destroyed {
    background-image: url("../../../assets/BOOM.png");
    background-size: cover;
    
}

.hoverble:hover {
    opacity: 1;
    cursor: pointer;
    background-image: url("../../../assets/MISSILE1.png");
    background-size: cover;
}

.opponent-attacked, .attacked {
    background-image: url("../../../assets/SPLASH3.png");
    background-size: cover;
}

.battle-modal {
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    color:white;
    font-size: 1.3rem;
    font-family: 'Sigmar One', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    padding: 25px;
}

.battle-modal-header {
    text-align: center;
    margin-bottom: 15px;
}

.battle-modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:955px){
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 1vh;
        grid-template-areas: "m"
                             "h"
                             "f";
    }

    .bg{
        overflow: auto;
    }
}