<div class="artemisia-form-component">
    <input class="artemisia-form-input" placeholder="endereço de e-mail" type="text"/>
</div>
<div class="artemisia-form-component">
    <input class="artemisia-form-input" placeholder="nickname" type="text"/>
</div>
<div class="artemisia-form-component">
    <input class="artemisia-form-input" placeholder="senha" type="password"/>
</div>
<div class="artemisia-form-component">
    <input class="artemisia-form-input" placeholder="repita a senha" type="password"/>
</div>
<div class="artemisia-form-component">
    <button class="artemisia-form-button">confirmar</button>
</div>