<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <artemisia-input [formGroup]="loginForm" formPropertyName="login" placeholder="e-mail ou nickname" type="text"></artemisia-input>
    <artemisia-input [formGroup]="loginForm" formPropertyName="password" placeholder="senha" type="password"></artemisia-input>
    <div *ngIf="loginError" class="artemisia-form-field-error">{{ loginErrorLabel }}</div>
    <artemisia-button label="iniciar" [disabled]="!loginForm.valid || loading" [loading]="loading"></artemisia-button>
</form>
