<div class="home-background">

    <div class="home-content-area">

        <div class="home-logo-area">
            <!-- <div>
                <img class="home-logo" src="/assets/artemisia-logo.png" />
            </div> -->
            <div class="home-logo">
                <img width="80%" src="/assets/artemisia-logo.png" />
            </div>
            <div class="home-title">
                Login
            </div>
        </div>

        <div class="home-form-area">
            <login-component></login-component>
        </div>

    </div>

    <div class="home-options-area">

        <div class="home-option">
            Novo Cadastro
        </div>

        <div class="home-option">
            Esqueci minha senha
        </div>

        <div class="home-option">
            Contato
        </div>

    </div>

</div>
