<div class="home-background">
    <div class="home-content-area">
        <div class="home-logo-area">
            <div class="home-logo">
                <img width="80%" src="/assets/artemisia-logo.png" />
            </div>
            <div class="home-title">
                {{ activeOption.label }}
            </div>
        </div>
        <div class="home-form-area">
            <login-component [class]="loginClass" *ngIf="activeOption.id === 'login'"></login-component>
            <register-component [class]="registerClass" *ngIf="activeOption.id === 'register'"></register-component>
            <contacts-component [class]="contactsClass" *ngIf="activeOption.id === 'contacts'"></contacts-component>
            <recovery-component [class]="recoveryClass" *ngIf="activeOption.id === 'recovery'"></recovery-component>
            <guest-component [class]="guestClass" *ngIf="activeOption.id === 'guest'"></guest-component>
        </div>
    </div>
    <div class="home-options-area">
        <div *ngFor="let option of options" class="home-option" (click)="changeOption(option.id)">
            {{ option.label }}
        </div>
    </div>
</div>
