.home-background {
    background-image: url('/assets/login-background.gif');
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.home-content-area {
    width: 100%;
    height: calc(100vh - 50px);
}

.home-options-area {
    width:100%;
    height: 50px;
}

.home-options-area > div{
    margin: 10px;
    text-decoration: none;
    padding: 0 10px;
    border-radius: 10px;
    background-color:rgba(176, 196, 222, 0.2);
}

.home-options-area > div:hover{
    background-color: #000080;
    color: white;
}

.home-option {
    margin-left: 30px;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    float: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

.home-logo-area {
    width: 50%;
    height: calc(100vh - 50px);
    float: left;
}

.home-logo {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-title {
    float: unset;
    width: 100%;
    height: 30%;
    display: flex;
    align-items:stretch;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3em;
}

.home-form-area {
    width: 50%;
    height: calc(100vh - 50px);
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

@keyframes component-out {
    to {
        margin-left: 200%;
    }
}

@keyframes component-in {
    from {
        margin-left: 200%
    }
    to {
        margin-left: inherit
    }
}

.component-out {
    animation-name: component-out;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

.component-in {
    animation-name: component-in;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}
