<div class="user-home-background">
  <div class="user-home-content-area">
    <div class="user-home-navbar">
      <div class="home-navbar-left">
        <a href="#">
          <img src="../assets/logout.png" class="navbar-ico" />
        </a>
      </div>
      <div class="home-navbar-right">

        <a href="#">
          <img src="../assets/shopping-cart.png" class="navbar-ico navbar-text" alt="carrinho" />
        </a>

        <a href="#" class="icon-content">
          <img src="../assets/diamond.png" class="navbar-ico" />
          <p class="navbar-text">5</p>
        </a>

        <a href="#" class="icon-content">
          <img src="../assets/coins.png" class="navbar-ico" />
          <p class="navbar-text">500</p>
        </a>

        <a href="#" class="icon-content">
          <img src="../assets/user.png" class="navbar-ico" />
          <p class="navbar-text">Olá, {{ username }}!</p>
        </a>

        <a href="#">
          <img src="../assets/settings.png" class="navbar-ico" />
        </a>

      </div>
    </div>
    
    <div class="user-home-ranking-area">
      <div class="text-ranking">
        <img src="../assets/artemisia.ico" />
        <h2>Ranking</h2>
      </div>

    </div>
  </div>
</div>