<div class="user-home-background">
  <div class="user-home-content-area">
    <div class="user-home-navbar">


      <div class="home-navbar-left">
        <div class="logout" (click)="openLogoutModal()">
          <img src="../assets/logout.png" class="navbar-ico" />
        </div>
      </div>
      <div class="home-navbar-right">

        <a href="#">
          <img src="../assets/shopping-cart.png" class="navbar-ico navbar-text" alt="carrinho" />
        </a>

        <a href="#" class="icon-content">
          <img src="../assets/diamond.png" class="navbar-ico" />
          <p class="navbar-text">5</p>
        </a>

        <a href="#" class="icon-content">
          <img src="../assets/coins.png" class="navbar-ico" />
          <p class="navbar-text">500</p>
        </a>

        <a href="#" class="icon-content">
          <img src="../assets/user.png" class="navbar-ico" />
          <p class="navbar-text">Olá, {{ username }}!</p>
        </a>

        <div class="dropdown">
            <img src="../assets/settings.png" class="navbar-ico" />
            <div class="dropdown-content">
              <a href="#">Excluir Conta</a>
            </div>
        </div>
      </div>
    </div>


    <div class="user-home-ranking-area">
      <div class="user-home-ranking-area-display">
        <div class="text-ranking">
          <!-- <img src="../assets/artemisia.ico" />
          <h2>Ranking</h2> -->
          <div class="text-ranking-logo">
            <img src="../assets/artemisia.ico" />
          </div>
          <div class="text-ranking-title">
            <h1>Ranking</h1>
          </div>
        </div>
        <div class="ranking-display">
          <!--
            ranking goes here...
          -->
          <!-- 
          <div class = "text-ranking" (ngOnInit)>
            Sua posição no Ranking Geral é: -->
              <!-- utilizar o atributo myScore para fazer as operações de ranking -->
          <div class = "text-ranking">
            <div > 1o Lugar    </div>
            <div > 2o Lugar    </div>
            <div > 3o Lugar    </div>
            <div > 4o Lugar    </div>
            <div > 5o Lugar    </div>
            <div > 6o Lugar    </div>
            <div > 7o Lugar    </div>
            <div > 8o Lugar    </div>
            <div > 9o Lugar    </div>
            <div > 10o Lugar   </div>
          </div>

          </div>
        </div>
        <div class="play-option" (click)="openStartMatchModal()">
          <img src="../../../assets/shuffle.png" />
        </div>
      </div>
    </div>
  </div>


<ng-template #startMatchModal>
  <div class="start-match-modal">
    <div class="start-match-modal-header">
      <h2>À luta, marujos!</h2>
    </div>
    <div class="start-match-modal-option">
      <artemisia-button 
        label="Desafiar um jogador" 
        (click)="challenge()"
      ></artemisia-button>
    </div>
    <div class="start-match-modal-option">
      <artemisia-button 
        label="Encontrar alguém disponível" 
        [disabled]="finding"
        [loading]="finding"
        (click)="find()"
      ></artemisia-button>
    </div>
  </div>
</ng-template>

<ng-template #waitingModal>
  <div class="start-match-modal">
    <div class="start-match-modal-header">
      <h3>Estamos à procura de uma vítima para abordar!</h3>
    </div>
    <div style="padding: 15px;">
      <p>A partida começará assim que encontrarmos um jogador disponível...</p>
    </div>
    <div class="start-match-modal-option">
      <artemisia-button 
        label="Cancelar busca"
        [disabled]="canceling"
        [loading]="canceling"
        (click)="cancelMatch()"
      ></artemisia-button>
    </div>
  </div>
</ng-template>

<ng-template #challengeModal>
  <div class="start-match-modal">
    <div class="start-match-modal-option">
      <form [formGroup]="challengeForm" (ngSubmit)="challengeSubmit()">
        <artemisia-input [formGroup]="challengeForm" formPropertyName="login" placeholder="e-mail ou nickname" type="text"></artemisia-input>
        <artemisia-button label="desafiar" [disabled]="!challengeForm.valid || challenging" [loading]="challenging"></artemisia-button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #challengingModal>
  <div class="start-match-modal">
    <div class="start-match-modal-header">
      <h3>Jogador abordado!</h3>
    </div>
    <div style="padding: 15px;">
      <p>O jogador recebeu seu desafio! Estamos aguardando sua resposta...</p>
    </div>
    <div class="start-match-modal-option">
      <artemisia-button 
        label="Cancelar desafio"
        [disabled]="canceling"
        [loading]="canceling"
        (click)="cancelChallenge()"
      ></artemisia-button>
    </div>
  </div>
</ng-template>

<ng-template #challengedModal>
  <div class="start-match-modal">
    <div class="start-match-modal-header">
      <h3>Você foi abordado por {{ challengerUsername }}!</h3>
    </div>
    <div style="padding: 15px;">
      <p>O que você deseja fazer?</p>
    </div>
    <div class="start-match-modal-option">
      <artemisia-button 
        label="Aceitar"
        [disabled]="accepting"
        [loading]="accepting"
        (click)="acceptChallenge()"
      ></artemisia-button>
    </div>
    <div class="start-match-modal-option">
      <artemisia-button 
        label="Declinar"
        [disabled]="canceling"
        [loading]="canceling"
        (click)="refuseChallenge()"
      ></artemisia-button>
    </div>
  </div>

</ng-template>
<div class="modal-overlay active">
  <div class="modal-advertisement">
    <a class="close-modal-advertisement"
      (click)="closeModalAdvertisement()">
      <img src="../../../assets/closeIcon.png" alt="fechar">
    </a>
    <div class="main-advertisement-content">Anúncio Aqui</div>
  </div>
</div>

<ng-template #logoutModal>
  <div class="start-match-modal">
    <div class="start-match-modal-header">
      <h2>Deseja Realmente sair?</h2>
    </div>
    <div class="start-match-modal-option">
      <artemisia-button 
        label="Sim" 
        (click)="logout()"
      ></artemisia-button>
    </div>
    <div class="start-match-modal-option">
      <artemisia-button 
        label="Não" 
        (click)="cancelLogout()"
      ></artemisia-button>
    </div>
  </div>
</ng-template>